<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %></title>
    
    <%= favicon_tag 'images/favicon.ico' %>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :page %>
    <%= stylesheet_link_tag :lightgallery %>
    <%= javascript_include_tag :all %>
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    
  </head>

  <body class="<%= page_classes %>">
    
    
      <header>
        <div class="header-container">
          <a href="../index.html">
            <%= image_tag "logo.png" %>
          </a>
          <div class="main-contacts">
            <p>Москва, ул. Муромская д. 1 <%= image_tag "locate.png"  %></p>
            <p>+7 495 <span class="main-phone">784 1416</span><%= image_tag "phone.png" %></p>
            <a href="https://www.instagram.com/sc_grand/" target=blank class="vk-link-up"></a>
            <a href="https://new.vk.com/public119759887" target=blank class="insta-link-up"></a>
          </div>
        </div>
      </header>
      
      <div class="main-menu">
        <div class="container">
          <div class="menu">
            <div class="menu-item">
              <a href="index.html"></a>
            </div>
            <div class="menu-item dropdown">
              <a href="about.html">О нас</a>
              <div class="dropdown-content">
                <%= link_to "Новости", '/news.html' %>
                <%= link_to "Тренеры", '/trainers.html' %>
                <%= link_to "Документы", '/documents.html' %>
              </div>
            </div>
            <div class="menu-item dropdown">
              <a href="#">Наши услуги</a>
              <div class="dropdown-content">
                <%= link_to "Художественная гимнастика", '/gymnastics.html' %>
                <%= link_to "Эстетическая </br>гимнастика", '/aesthetic.html' %>
                <%= link_to "Постановки", '/direction.html' %>
                <%= link_to "Стретчинг", '/stretching.html' %>
              </div>
            </div>
            <div class="menu-item">
              <%= link_to "Расписание", '/scedule.html' %>
            </div>
            <div class="menu-item">
              <%= link_to "Галерея", '/album_gallery.html' %>
            </div>
            <div class="menu-item">
              <%= link_to "Попечительский совет", '/trustees.html' %>
            </div>
            <div class="menu-item">
              <%= link_to "Контакты", '/contacts.html' %>
            </div>
          </div>
        </div>
      </div>
      

      
    <%= yield %>
    
    <footer>
      <div class="container">
        <div class="first-footer-column">
          <a href="../index.html">
            <img src="/images/footer-logo.png" alt="Footer logo" />
          </a>
        </div>
        <div class="second-footer-column">
          <ul class="footer-menu">
            <li>
              <a href="/gymnastics.html">художественная гимнастика</a>
            </li>
            <li>
              <a href="/aesthetic.html">эстетическая гимнастика</a>
            </li>
            <li>
              <a href="/trustees.html">попечительский совет</a>
            </li>
          </ul>
        </div>
        <div class="third-footer-column">
          <ul class="footer-menu">
            <li>
              <a href="/news.html">новости</a>
            </li>
            <li>
              <a href="/direction.html">постановки</a>
            </li>
            <li>
              <a href="/stretching.html">стретчинг</a>
            </li>
          </ul>
        </div>
        <div class="fourth-footer-column">
          <ul class="footer-menu">
            <li>
              <a href="/trainers.html">тренеры</a>
            </li>
            <!--<li>-->
            <!--  <a href="/gallery.html">фотогалерея</a>-->
            <!--</li>-->
            <li>
              <a href="/contacts.html">контакты</a>
            </li>
            <li>
              <a href="/about.html">о нас</a>
            </li>
          </ul>
        </div>
        <div class="fifths-footer-column">
          <ul class="footer-menu">
            <li>
               <a href="/scedule.html">Расписание</a>
            </li>
            <li>
              <a href="/album_gallery.html">Галерея</a>
            </li>
          </ul>
        </div>
        <div class="sixths-footer-column">
          <p>+7 495 <span class="main-phone">784 1416</span></p>
          <p class="gravpix">by <a href="http://gravpix.net/" target="_blank">Gravpix</a></p>
        </div>
      </div>
    </footer>
    
  </body>
</html>