---
title: художественная гимнастика
---

<div class="back_button">
  <a href="album_gallery.html" class="button-back">Вернуться к альбомам</a>
</div>
<div class="container">   

<!--bionocopy gallery-->
  <div class="demo-gallery">
        <ul id="lightgallery">
<li data-responsive="images/albums/10_buran/76.jpg" data-src="images/albums/10_buran/76.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/76.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/75.jpg" data-src="images/albums/10_buran/75.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/75.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/74.jpg" data-src="images/albums/10_buran/74.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/74.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/73.jpg" data-src="images/albums/10_buran/73.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/73.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/72.jpg" data-src="images/albums/10_buran/72.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/72.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/71.jpg" data-src="images/albums/10_buran/71.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/71.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/70.jpg" data-src="images/albums/10_buran/70.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/70.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/69.jpg" data-src="images/albums/10_buran/69.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/69.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/68.jpg" data-src="images/albums/10_buran/68.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/68.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/67.jpg" data-src="images/albums/10_buran/67.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/67.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/66.jpg" data-src="images/albums/10_buran/66.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/66.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/65.jpg" data-src="images/albums/10_buran/65.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/65.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/64.jpg" data-src="images/albums/10_buran/64.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/64.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/63.jpg" data-src="images/albums/10_buran/63.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/63.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/62.jpg" data-src="images/albums/10_buran/62.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/62.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/61.jpg" data-src="images/albums/10_buran/61.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/61.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/60.jpg" data-src="images/albums/10_buran/60.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/60.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/59.jpg" data-src="images/albums/10_buran/59.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/59.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/58.jpg" data-src="images/albums/10_buran/58.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/58.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/57.jpg" data-src="images/albums/10_buran/57.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/57.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/56.jpg" data-src="images/albums/10_buran/56.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/56.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/55.jpg" data-src="images/albums/10_buran/55.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/55.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/54.jpg" data-src="images/albums/10_buran/54.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/54.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/53.jpg" data-src="images/albums/10_buran/53.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/53.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/52.jpg" data-src="images/albums/10_buran/52.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/52.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/51.jpg" data-src="images/albums/10_buran/51.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/51.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>  
      <li data-responsive="images/albums/10_buran/50.jpg" data-src="images/albums/10_buran/50.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/50.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/49.jpg" data-src="images/albums/10_buran/49.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/49.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/48.jpg" data-src="images/albums/10_buran/48.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/48.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/47.jpg" data-src="images/albums/10_buran/47.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/47.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/46.jpg" data-src="images/albums/10_buran/46.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/46.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/45.jpg" data-src="images/albums/10_buran/45.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/45.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/44.jpg" data-src="images/albums/10_buran/44.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/44.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/43.jpg" data-src="images/albums/10_buran/43.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/43.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/42.jpg" data-src="images/albums/10_buran/42.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/42.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/41.jpg" data-src="images/albums/10_buran/41.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/41.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/40.jpg" data-src="images/albums/10_buran/40.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/40.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/39.jpg" data-src="images/albums/10_buran/39.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/39.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/38.jpg" data-src="images/albums/10_buran/38.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/38.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/37.jpg" data-src="images/albums/10_buran/37.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/37.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/36.jpg" data-src="images/albums/10_buran/36.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/36.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/35.jpg" data-src="images/albums/10_buran/35.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/35.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/34.jpg" data-src="images/albums/10_buran/34.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/34.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/33.jpg" data-src="images/albums/10_buran/33.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/33.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/32.jpg" data-src="images/albums/10_buran/32.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/32.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/31.jpg" data-src="images/albums/10_buran/31.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/31.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/30.jpg" data-src="images/albums/10_buran/30.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/30.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/29.jpg" data-src="images/albums/10_buran/29.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/29.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/28.jpg" data-src="images/albums/10_buran/28.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/28.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/27.jpg" data-src="images/albums/10_buran/27.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/27.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/26.jpg" data-src="images/albums/10_buran/26.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/26.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/25.jpg" data-src="images/albums/10_buran/25.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/25.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/24.jpg" data-src="images/albums/10_buran/24.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/24.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/23.jpg" data-src="images/albums/10_buran/23.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/23.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/22.jpg" data-src="images/albums/10_buran/22.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/22.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/21.jpg" data-src="images/albums/10_buran/21.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/21.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/20.jpg" data-src="images/albums/10_buran/20.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/20.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/19.jpg" data-src="images/albums/10_buran/19.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/19.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/18.jpg" data-src="images/albums/10_buran/18.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/18.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/17.jpg" data-src="images/albums/10_buran/17.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/17.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/16.jpg" data-src="images/albums/10_buran/16.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/16.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/15.jpg" data-src="images/albums/10_buran/15.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/15.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/14.jpg" data-src="images/albums/10_buran/14.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/14.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/13.jpg" data-src="images/albums/10_buran/13.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/13.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/12.jpg" data-src="images/albums/10_buran/12.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/12.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/11.jpg" data-src="images/albums/10_buran/11.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/11.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/10.jpg" data-src="images/albums/10_buran/10.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/10.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/9.jpg" data-src="images/albums/10_buran/9.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/9.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/8.jpg" data-src="images/albums/10_buran/8.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/8.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/7.jpg" data-src="images/albums/10_buran/7.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/7.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/6.jpg" data-src="images/albums/10_buran/6.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/6.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/5.jpg" data-src="images/albums/10_buran/5.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/5.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/4.jpg" data-src="images/albums/10_buran/4.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/4.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/3.jpg" data-src="images/albums/10_buran/3.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/3.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/2.jpg" data-src="images/albums/10_buran/2.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/2.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/10_buran/1.jpg" data-src="images/albums/10_buran/1.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_10_buran/1.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

        
        <%= javascript_include_tag 'js/script.js' %>
        <%= javascript_include_tag 'https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js' %>
        <%= javascript_include_tag 'js/lightgallery.js' %>
        <%= javascript_include_tag 'js/lg-thumbnail.js' %>
        <%= javascript_include_tag 'js/lg-zoom.js' %>
        <%= javascript_include_tag 'js/lg-hash.js' %>
        <%= javascript_include_tag 'js/lg-pager.js' %>
        <%= javascript_include_tag 'js/jquery.mousewheel.min.js' %>
        
    <!--end bionocopy gallery-->
    
</div>