---
title: художественная гимнастика
---

<div class="back_button">
  <a href="album_gallery.html" class="button-back">Вернуться к альбомам</a>
</div>
<div class="container">   

<!--bionocopy gallery-->
  <div class="demo-gallery">
    <ul id="lightgallery">
      <li data-responsive="images/albums/13_сristal/1-min.jpg" data-src="images/albums/13_сristal/1-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/1-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/2-min.jpg" data-src="images/albums/13_сristal/2-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/2-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/3-min.jpg" data-src="images/albums/13_сristal/3-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/3-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/4-min.jpg" data-src="images/albums/13_сristal/4-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/4-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/5-min.jpg" data-src="images/albums/13_сristal/5-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/5-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/6-min.jpg" data-src="images/albums/13_сristal/6-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/6-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/7-min.jpg" data-src="images/albums/13_сristal/7-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/7-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/8-min.jpg" data-src="images/albums/13_сristal/8-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/8-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/8-min.jpg" data-src="images/albums/13_сristal/8-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/8-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/9-min.jpg" data-src="images/albums/13_сristal/9-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/9-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/10-min.jpg" data-src="images/albums/13_сristal/10-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/10-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/11-min.jpg" data-src="images/albums/13_сristal/11-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/11-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/12-min.jpg" data-src="images/albums/13_сristal/12-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/12-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/13-min.jpg" data-src="images/albums/13_сristal/13-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/13-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/14-min.jpg" data-src="images/albums/13_сristal/14-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/14-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/15-min.jpg" data-src="images/albums/13_сristal/15-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/15-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
        
        
        
        
        <li data-responsive="images/albums/13_сristal/16-min.jpg" data-src="images/albums/13_сristal/16-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/16-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/17-min.jpg" data-src="images/albums/13_сristal/17-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/17-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/18-min.jpg" data-src="images/albums/13_сristal/18-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/18-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/19-min.jpg" data-src="images/albums/13_сristal/19-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/19-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/20-min.jpg" data-src="images/albums/13_сristal/20-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/20-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/21-min.jpg" data-src="images/albums/13_сristal/21-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/21-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/22-min.jpg" data-src="images/albums/13_сristal/22-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/22-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/23-min.jpg" data-src="images/albums/13_сristal/23-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/23-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/24-min.jpg" data-src="images/albums/13_сristal/24-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/24-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/25-min.jpg" data-src="images/albums/13_сristal/25-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/25-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/26-min.jpg" data-src="images/albums/13_сristal/26-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/26-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/27-min.jpg" data-src="images/albums/13_сristal/27-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/27-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/28-min.jpg" data-src="images/albums/13_сristal/28-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/28-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/29-min.jpg" data-src="images/albums/13_сristal/29-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/29-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/30-min.jpg" data-src="images/albums/13_сristal/30-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/30-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/31-min.jpg" data-src="images/albums/13_сristal/31-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/31-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      
      
      
      
      
      <li data-responsive="images/albums/13_сristal/32-min.jpg" data-src="images/albums/13_сristal/32-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/32-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/33-min.jpg" data-src="images/albums/13_сristal/33-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/33-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/34-min.jpg" data-src="images/albums/13_сristal/34-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/34-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/35-min.jpg" data-src="images/albums/13_сristal/35-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/35-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/36-min.jpg" data-src="images/albums/13_сristal/36-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/36-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/37-min.jpg" data-src="images/albums/13_сristal/37-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/37-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/38-min.jpg" data-src="images/albums/13_сristal/38-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/38-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/39-min.jpg" data-src="images/albums/13_сristal/39-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/39-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/40-min.jpg" data-src="images/albums/13_сristal/40-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/40-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/41-min.jpg" data-src="images/albums/13_сristal/41-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/41-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/42-min.jpg" data-src="images/albums/13_сristal/42-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/42-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/43-min.jpg" data-src="images/albums/13_сristal/43-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/43-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/44-min.jpg" data-src="images/albums/13_сristal/44-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/44-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/45-min.jpg" data-src="images/albums/13_сristal/45-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/45-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/46-min.jpg" data-src="images/albums/13_сristal/46-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/46-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/47-min.jpg" data-src="images/albums/13_сristal/47-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/47-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/48-min.jpg" data-src="images/albums/13_сristal/48-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/48-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/49-min.jpg" data-src="images/albums/13_сristal/49-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/49-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/50-min.jpg" data-src="images/albums/13_сristal/50-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/50-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/51-min.jpg" data-src="images/albums/13_сristal/51-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/51-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/52-min.jpg" data-src="images/albums/13_сristal/52-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/52-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/58-min.jpg" data-src="images/albums/13_сristal/58-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/58-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/13_сristal/face-min.jpg" data-src="images/albums/13_сristal/face-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_13_сristal/face-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
        
        <%= javascript_include_tag 'js/script.js' %>
        <%= javascript_include_tag 'https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js' %>
        <%= javascript_include_tag 'js/lightgallery.js' %>
        <%= javascript_include_tag 'js/lg-thumbnail.js' %>
        <%= javascript_include_tag 'js/lg-zoom.js' %>
        <%= javascript_include_tag 'js/lg-hash.js' %>
        <%= javascript_include_tag 'js/lg-pager.js' %>
        <%= javascript_include_tag 'js/jquery.mousewheel.min.js' %>
        
    <!--end bionocopy gallery-->
    
</div>