---
title: художественная гимнастика
---

<div class="back_button">
  <a href="album_gallery.html" class="button-back">Вернуться к альбомам</a>
</div>
<div class="container">   

<!--bionocopy gallery-->
  <div class="demo-gallery">
    <ul id="lightgallery">
      <li data-responsive="images/albums/12_piruet/1-min.jpg" data-src="images/albums/12_piruet/1-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/1-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/2-(2)-min.jpg" data-src="images/albums/12_piruet/2-(2)-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/2-(2)-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/3-(2)-min.jpg" data-src="images/albums/12_piruet/3-(2)-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/3-(2)-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/4-min.jpg" data-src="images/albums/12_piruet/4-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/4-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/5-min.jpg" data-src="images/albums/12_piruet/5-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/5-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/6-min.jpg" data-src="images/albums/12_piruet/6-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/6-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/7-min.jpg" data-src="images/albums/12_piruet/7-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/7-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/8-(2)-min.jpg" data-src="images/albums/12_piruet/8-(2)-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/8-(2)-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/8-min.jpg" data-src="images/albums/12_piruet/8-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/8-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/9-min.JPG" data-src="images/albums/12_piruet/9-min.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/9-min.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/10-min.jpg" data-src="images/albums/12_piruet/10-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/10-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/11-min.jpg" data-src="images/albums/12_piruet/11-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/11-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/12-min.jpg" data-src="images/albums/12_piruet/12-min.jpg">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/12-min.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/13-min.JPG" data-src="images/albums/12_piruet/13-min.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/13-min.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/14-min.JPG" data-src="images/albums/12_piruet/14-min.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/14-min.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/12_piruet/15_zas-min.JPG" data-src="images/albums/12_piruet/15_zas-min.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_12_piruet/15_zas-min.JPG">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
        
    </ul>
  </div>
</div>
        
        <%= javascript_include_tag 'js/script.js' %>
        <%= javascript_include_tag 'https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js' %>
        <%= javascript_include_tag 'js/lightgallery.js' %>
        <%= javascript_include_tag 'js/lg-thumbnail.js' %>
        <%= javascript_include_tag 'js/lg-zoom.js' %>
        <%= javascript_include_tag 'js/lg-hash.js' %>
        <%= javascript_include_tag 'js/lg-pager.js' %>
        <%= javascript_include_tag 'js/jquery.mousewheel.min.js' %>
        
    <!--end bionocopy gallery-->
    
</div>