---
title: художественная гимнастика
---

<div class="back_button">
  <a href="album_gallery.html" class="button-back">Вернуться к альбомам</a>
</div>
<div class="container">   

<!--bionocopy gallery-->
  <div class="demo-gallery">
        <ul id="lightgallery">
        <li data-responsive="images/albums/11_star_start/1.JPG" data-src="images/albums/11_star_start/1.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/1.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/2.JPG" data-src="images/albums/11_star_start/2.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/2.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/3.JPG" data-src="images/albums/11_star_start/3.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/3.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/4.JPG" data-src="images/albums/11_star_start/4.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/4.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/5.JPG" data-src="images/albums/11_star_start/5.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/5.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/6.JPG" data-src="images/albums/11_star_start/6.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/6.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/7.JPG" data-src="images/albums/11_star_start/7.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/7.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/8.JPG" data-src="images/albums/11_star_start/8.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/8.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/9.JPG" data-src="images/albums/11_star_start/9.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/9.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
        <li data-responsive="images/albums/11_star_start/10.JPG" data-src="images/albums/11_star_start/10.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/10.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/11.JPG" data-src="images/albums/11_star_start/11.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/11.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/12.JPG" data-src="images/albums/11_star_start/12.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/12.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/13.JPG" data-src="images/albums/11_star_start/13.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/13.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/14.JPG" data-src="images/albums/11_star_start/14.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/14.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/15.JPG" data-src="images/albums/11_star_start/15.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/15.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/16.JPG" data-src="images/albums/11_star_start/16.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/16.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/17.JPG" data-src="images/albums/11_star_start/17.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/17.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/18.JPG" data-src="images/albums/11_star_start/18.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/18.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/19.JPG" data-src="images/albums/11_star_start/19.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/19.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/20.JPG" data-src="images/albums/11_star_start/20.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/20.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/21.JPG" data-src="images/albums/11_star_start/21.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/21.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/22.JPG" data-src="images/albums/11_star_start/22.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/22.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/23.JPG" data-src="images/albums/11_star_start/23.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/23.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/24.JPG" data-src="images/albums/11_star_start/24.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/24.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/25.JPG" data-src="images/albums/11_star_start/25.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/25.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/26.JPG" data-src="images/albums/11_star_start/26.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/26.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/27.JPG" data-src="images/albums/11_star_start/27.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/27.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/28.JPG" data-src="images/albums/11_star_start/28.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/28.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/29.JPG" data-src="images/albums/11_star_start/29.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/29.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/30.JPG" data-src="images/albums/11_star_start/30.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/30.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/31.JPG" data-src="images/albums/11_star_start/31.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/31.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/32.JPG" data-src="images/albums/11_star_start/32.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/32.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
     <li data-responsive="images/albums/11_star_start/33.JPG" data-src="images/albums/11_star_start/33.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/33.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/34.JPG" data-src="images/albums/11_star_start/34.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/34.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/35.JPG" data-src="images/albums/11_star_start/35.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/35.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/36.JPG" data-src="images/albums/11_star_start/36.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/36.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/37.JPG" data-src="images/albums/11_star_start/37.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/37.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/38.JPG" data-src="images/albums/11_star_start/38.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/38.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/39.JPG" data-src="images/albums/11_star_start/39.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/39.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/40.JPG" data-src="images/albums/11_star_start/40.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/40.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/41.JPG" data-src="images/albums/11_star_start/41.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/41.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/42.JPG" data-src="images/albums/11_star_start/42.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/42.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/43.JPG" data-src="images/albums/11_star_start/43.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/43.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/44.JPG" data-src="images/albums/11_star_start/44.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/44.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/45.JPG" data-src="images/albums/11_star_start/45.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/45.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
     <li data-responsive="images/albums/11_star_start/46.JPG" data-src="images/albums/11_star_start/46.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/46.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/47.JPG" data-src="images/albums/11_star_start/47.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/47.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/48.JPG" data-src="images/albums/11_star_start/48.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/48.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/49.JPG" data-src="images/albums/11_star_start/49.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/49.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/50.JPG" data-src="images/albums/11_star_start/50.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/50.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/51.JPG" data-src="images/albums/11_star_start/51.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/51.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li> 
      <li data-responsive="images/albums/11_star_start/52.JPG" data-src="images/albums/11_star_start/52.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/52.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/53.JPG" data-src="images/albums/11_star_start/53.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/53.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
       <li data-responsive="images/albums/11_star_start/54.JPG" data-src="images/albums/11_star_start/54.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/54.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/55.JPG" data-src="images/albums/11_star_start/55.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/55.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>     
     <li data-responsive="images/albums/11_star_start/56.JPG" data-src="images/albums/11_star_start/56.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/56.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/57.JPG" data-src="images/albums/11_star_start/57.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/57.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
     <li data-responsive="images/albums/11_star_start/58.JPG" data-src="images/albums/11_star_start/58.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/58.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/59.JPG" data-src="images/albums/11_star_start/59.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/59.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/60.JPG" data-src="images/albums/11_star_start/60.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/60.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/61.JPG" data-src="images/albums/11_star_start/61.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/61.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/62.JPG" data-src="images/albums/11_star_start/62.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/62.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/63.JPG" data-src="images/albums/11_star_start/63.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/63.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/64.JPG" data-src="images/albums/11_star_start/64.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/64.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/65.JPG" data-src="images/albums/11_star_start/65.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/65.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/66.JPG" data-src="images/albums/11_star_start/66.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/66.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/67.JPG" data-src="images/albums/11_star_start/67.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/67.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
       <li data-responsive="images/albums/11_star_start/68.JPG" data-src="images/albums/11_star_start/68.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/68.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
     <li data-responsive="images/albums/11_star_start/69.JPG" data-src="images/albums/11_star_start/69.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/69.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/70.JPG" data-src="images/albums/11_star_start/70.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/70.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/71.JPG" data-src="images/albums/11_star_start/71.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/71.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/72.JPG" data-src="images/albums/11_star_start/72.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/72.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/73.JPG" data-src="images/albums/11_star_start/73.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/73.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
      <li data-responsive="images/albums/11_star_start/74.JPG" data-src="images/albums/11_star_start/74.JPG">
        <a href="">
          <img class="img-responsive" src="images/albums/mini_11_star_start/74.jpg">
          <div class="demo-gallery-poster">
            <img src="http://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
        
        <%= javascript_include_tag 'js/script.js' %>
        <%= javascript_include_tag 'https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js' %>
        <%= javascript_include_tag 'js/lightgallery.js' %>
        <%= javascript_include_tag 'js/lg-thumbnail.js' %>
        <%= javascript_include_tag 'js/lg-zoom.js' %>
        <%= javascript_include_tag 'js/lg-hash.js' %>
        <%= javascript_include_tag 'js/lg-pager.js' %>
        <%= javascript_include_tag 'js/jquery.mousewheel.min.js' %>
        
    <!--end bionocopy gallery-->
    
</div>